.main-container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 600px; 
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-title{
  text-align: center;
}


.check-answers-btn {
  background-color: #4d5466;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  align-self: center; 
}

.disabled{
  background-color: lightgrey;
  color: #4d5466;
}